* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conte_whatsapp {
  position: fixed;
  bottom: 10rem;
  right: 1rem;
  border-style: dashed;
  border-radius: 4rem;
  border-color: red;
  margin: 10;
  padding: 10;
}
.conte_whatsapp:hover {
  background-color: yellow;
  opacity: 1;
}
.conte_whatsapp img {
  border-radius: 6rem;
  display: block;
  width: 2rem;
  height: 2rem;
  padding: 0.4rem;
  opacity: 0.5;
  background-color: rgb(47, 190, 47);
}

.carousel-control-next, .carousel-control-prev {
  filter: invert(100%);
}

/*derechos reservados*/
#derechos {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#derechos p {
  color: white;
  text-align: end;
  font-size: xx-small;
}

footer {
  background-color: rgb(0, 0, 0);
}

#logosredes a img {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 2rem !important;
}

#formasdepago {
  padding-top: 0.2rem;
}
#formasdepago h3 {
  font-family: "Germania One", cursive;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: red;
}

#c_formasdepago {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#c_formasdepago img {
  width: 3rem !important;
  height: 2rem !important;
}

#c_sub {
  padding-top: 0.5rem !important;
}
#c_sub h6 {
  font-family: "Germania One", cursive;
  font-size: 1rem;
  color: red;
  text-align: center;
}
#c_sub form {
  display: flex;
  justify-content: center;
}

.campo {
  width: 15rem;
  height: 2rem;
}

#piedepagina {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*FORMULARIO*/
#tituloformulario {
  font-size: 1.5rem;
}

select {
  color: black;
  font-family: "Germania One", cursive;
  font-size: 1rem;
  font-weight: 500;
}
select option {
  color: black;
  font-family: "Germania One", cursive;
  font-size: 2rem;
  font-weight: 500;
}

.botonesformulario input {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#edad {
  width: 3rem;
}

input {
  display: inline-block;
  width: 9rem;
}

/*MAIN GENERAL*/
main {
  padding-top: 0.2rem;
  background-color: rgb(243, 243, 225);
}

.subtitulos {
  text-align: center;
  font-family: "UnifrakturCook", cursive;
  font-size: 2rem;
  font-weight: 300;
  display: block;
  padding-top: 0.5rem;
}

#contactomain {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

#frase {
  text-align: center;
  font-family: "UnifrakturCook", cursive;
  font-size: 1rem;
}

.parrafos {
  font-family: "Germania One", cursive;
  font-size: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.parrafos p {
  margin: 0.2rem;
}

.novedades {
  padding-bottom: 2.5rem;
}

header {
  background-image: url(/imagenes/Encabezado2.jpg) !important;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#titulo {
  font-family: "Germania One", cursive;
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5rem;
  -webkit-text-stroke: 0.07rem black;
}
#titulo span {
  display: block;
  line-height: 1rem;
  font-size: 1.5rem;
  padding: 0.5;
}

.contenedor_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  height: 3.5rem;
  border-radius: 8rem;
}

.contenedor_titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  font-family: "Germania One", cursive;
  color: red;
  font-size: 1rem;
  text-align: right;
  -webkit-text-stroke: 0.06rem rgb(0, 3, 161);
}

.nav-link:hover {
  color: yellow !important;
  opacity: 0.8 !important;
}

.navbar-toggler {
  background-color: rgb(202, 10, 10);
}

.navbar-toggler-icon {
  width: 1.2rem !important;
  height: 1.2rem !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-item {
  padding: 0.1rem;
}

.imagenindex {
  padding: 0.3rem;
}
.imagenindex img {
  width: 100%;
  height: 20rem;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.datos_ubicacion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.datos_ubicacion p {
  color: black;
  font-family: "Germania One", cursive;
  font-size: 1.4rem;
  padding: 1rem;
}

#mapa {
  width: 3.5rem;
  height: 6rem;
}

#reloj {
  width: 4rem;
  height: 4rem;
}

.contenedor_ubicacion {
  padding-top: 2rem;
}

.producto, .producto2, .producto3 {
  border-radius: 10rem;
  background-color: rgb(243, 232, 133);
  padding-top: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.producto img {
  width: 4rem;
  height: 6rem;
}
.producto h5 {
  font-family: "Germania One", cursive;
  font-size: 1.5rem;
}

.producto2 img {
  width: 4rem;
  height: 12rem;
}
.producto2 h5 {
  font-family: "Germania One", cursive;
  font-size: 1.5rem;
}

.producto3 img {
  width: 10rem;
  height: 10rem;
}

.opcionesmenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  text-align: center;
  justify-content: center;
}
.opcionesmenu li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 232, 133);
  border: 2px solid #681919;
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 2rem;
}
.opcionesmenu a {
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.titulosmenu {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*CONTACTO CELULAR GRANDE*/
@media screen and (min-width: 475px) {
  ul.redescontacto li {
    justify-content: center;
  }
  ul.redescontacto li a p {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  input {
    width: 6rem;
  }
  ul.redescontacto {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
  }
  ul.redescontacto li {
    text-align: center;
    justify-content: start;
  }
  ul.redescontacto li a img {
    width: 2rem;
    height: 2rem;
  }
  .producto {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .producto img {
    width: 4rem;
    height: 6rem;
  }
  .producto2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .producto2 img {
    width: 6rem;
    height: 14rem;
  }
  .producto3 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .producto3 img {
    width: 10rem;
    height: 10rem;
  }
  #contactomain {
    padding-top: 2rem;
    padding-bottom: 8rem;
  }
  #tituloformulario {
    padding-bottom: 1.5rem;
  }
  ul.redescontacto {
    justify-content: space-evenly;
    padding-top: 2rem;
  }
  ul.redescontacto li {
    text-align: center;
  }
  ul.redescontacto li a img {
    width: 2rem;
    height: 2rem;
  }
  .parrafos {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }
}
/*DESK CHICA*/
@media screen and (min-width: 992px) {
  .nav-link {
    border-radius: 4rem;
    font-size: 0.8rem;
    background-color: black;
    -webkit-text-stroke: 0.04rem rgb(0, 3, 161);
  }
  .imagenindex {
    padding-bottom: 4rem;
  }
  .parrafos {
    font-size: 1.2rem;
  }
  .parrafos p {
    margin: 0.2rem;
  }
  #frase {
    font-size: 1.4rem;
  }
}
/*CONTACTO DESK*/
@media screen and (min-width: 1200px) {
  .nav-link {
    font-size: 1rem;
  }
  #contactomain {
    padding-top: 3.1rem;
    padding-bottom: 6rem !important;
  }
  ul.redescontacto li a img {
    width: 4rem;
    height: 4rem;
  }
  ul.redescontacto li a p {
    font-size: 2.2rem;
  }
  .parrafos {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
/*DESK GRANDE*/
@media screen and (min-width: 1450px) {
  .nav-link {
    font-size: 1.4rem;
  }
  .parrafos, #frase {
    font-size: 1.3rem;
  }
}
#contenedor_datos {
  display: flex;
  justify-content: center;
}

ul.redescontacto {
  display: flex;
  padding: 0rem;
  flex-direction: column;
}
ul.redescontacto li {
  display: flex;
}
ul.redescontacto li a {
  list-style-type: none;
  text-decoration: none;
  display: flex;
}
ul.redescontacto li a img {
  width: 2rem;
  height: 2rem;
}
ul.redescontacto li a p {
  text-decoration: none;
  color: black;
  font-family: "Germania One", cursive;
  list-style-type: none;
  font-size: 1.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
