/*MAIN INDEX*/
#frase {
    text-align: center;
    font-family: 'UnifrakturCook', cursive;
    font-size: 1rem;
}

.parrafos {
    font-family: 'Germania One', cursive;
    font-size: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    p {
        margin: 0.2rem;
    }
}

.imagenindex{
    padding: 0.3rem !important;
    img{    width: 100%;
        height: 20rem;}
}


/*MAIN CELULAR GRANDE*/

@media screen and (max-width: 575px) {
.imagenindex{
    img{
    width: 18rem;
    height: 18rem;
}
}
}

/*MAIN TABLET GRANDE*/
@media screen and (min-width: 767px) {
    .parrafos {
        font-size: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .subtitulos {
        font-size: 3rem;
    }

    #titulo {
        font-size: 4rem;
        letter-spacing: 0.5rem;
        -webkit-text-stroke: 0.12rem black;
    }

    #titulo2 {
        font-size: 2rem;
    }

    #frase {
        font-size: 1.5rem;
    }

    .logo {
        height: 6rem;
        border-radius: 8rem;
    }

}

/*MAIN DESK*/
@media screen and (min-width: 991px) {
.imagenindex{
    img{        width: 100%;
        height: 20rem;
        padding-bottom: 4rem;}
    }



    li .nav-link {
        padding: 0.2rem !important;
    }

    #piedepagina {
        padding-top: 1.6rem;
        padding-bottom: 2rem;
    }

    #frase {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .subtitulos {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .parrafos {
        font-size: 1.3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

}
