
.nav-link {
    font-family: 'Germania One', cursive;
    color: red;
    font-size: 1.5rem;
    text-align: right;
    -webkit-text-stroke: 0.06rem $cazul;

}

.nav-link:hover {
    color: yellow !important;
    opacity: 0.8 !important;
}

.navbar-toggler {
    border: none !important;

    background-color: $cred;
}

.navbar-toggler-icon {
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.navbar-toggler:focus {
    box-shadow: none
}

/*NAV TABLET GRANDE*/
@media screen and (min-width: 767px){}

/*DESK CHICA*/
@media screen and (min-width: 991px) {    
    .nav-link {
    font-size: 0.9rem;
    font-weight: 300;
    -webkit-text-stroke: 0.07rem black;
    background-color: black;
    border-radius: 70%;
}
}

.nav-item{padding: 0.1rem;}



/*DESK GRANDE*/
@media screen and (min-width: 1450px) {    
    .nav-link {
    font-size: 1.5rem;
    font-weight: 500;
    -webkit-text-stroke: 0.07rem black;
}}