@import "../scss/reset";
@import "../scss/btnwhatsapp";
@import "../scss/general";
@import "../scss/index";


/*MAINMENU*/
.producto img{width: 6rem;
height: 10rem;}

.producto{border-radius: 9rem;
background-color: rgb(243, 232, 133);
padding: 1rem;
margin-left: 1rem;
margin-right: 1rem;
display: flex;
flex-direction: column;
text-align: center;
}



/*MAINCONTACTO*/

#subtitulocontacto {
    text-align: center;
    font-family: 'UnifrakturCook', cursive;
    font-size: 3rem;
    font-weight: 300;
    display: block;
}

#contactomain {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#contenedor_datos {
    display: flex;
    justify-content: center;
}

#edad {
    width: 3rem;
}

ul.redescontacto {
    display: flex;
    padding: 0rem;
    flex-direction: column;
    li {
        display: flex;

        a {
            display: flex;

            img {
                width: 1.5rem;
                height: 1.5rem;
            }

            p {
                text-decoration: none;
                color: black;
                font-family: 'Germania One', cursive;
                list-style-type: none;
                font-size: 1rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                text-align: center;
            }
        }
    }
}

/*CONTACTO CELULAR GRANDE*/
@media screen and (min-width: 475px) {
    ul.redescontacto{
        li {
            a {
                img {
                    width: 2rem;
                    height: 2rem;
                }
    
                p {
                    font-size: 1.5rem;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }
            }
        }
    }
}


/*CONTACTO TABLET GRANDE*/
@media screen and (min-width: 768px) {
    input {
        width: 6rem;
    }
    ul.redescontacto{ display: flex;
        justify-content: space-evenly;
        padding-top: 2rem;
        li { text-align: center;
            a {
                img {
                    width: 2rem;
                    height: 2rem;
                }
    
                p {
                    font-size: 1.4rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                }
            }
        }
    }
    #contactomain {
        padding-top: 2rem;
        padding-bottom: 5rem;
    }

    #subtitulocontacto {
padding-bottom: 3.4rem;
    }

    #tituloformulario {
       padding-bottom: 1.5rem;
    }

}


/*CONTACTO DESK*/
@media (min-width: 1200px) {

    #subtitulocontacto {
        font-size: 5rem;
    }

    #contactomain {
        padding-top: 2.1rem;
        padding-bottom: 2.5rem;
    }


    ul.redescontacto {
        li {
            a {
                img {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 1rem;
                }

                p {
                    font-size: 2.2rem;
                }
            }
        }
    }
}
input {
    display: inline-block;
    width: 9rem;
}



/*MAINCPROMOCIONES*/

.contenedor_promociones {
    display: flex;
}

/*MAINUBICACION*/
.contenedor_ubicacion {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5.75rem;
}

.datos_ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}


.datos_ubicacion div p {
    display: flex;
    align-items: center;
    color: black;
    font-family: 'Germania One', cursive;
    list-style-type: none;
    font-size: 1.8rem;
}

.datos_ubicacion div img {
    padding-right: 5rem;
}

.datos_ubicacion div {
    display: flex;
}

#mapa {
    width: 4rem;
    height: 6rem;
}

#reloj {
    width: 4rem;
    height: 4rem;
}


/*FORMULARIO*/

#tituloformulario {
    font-size: 1.5rem;
}

select {
    color: black;
    font-family: 'Germania One', cursive;
    font-size: 1rem;
    font-weight: 500;
}

option {
    color: black;
    font-family: 'Germania One', cursive;
    font-size: 2rem;
    font-weight: 500;
}

.botonesformulario input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.redescontacto li a {
    list-style-type: none;
    text-decoration: none;
}


/*FOOTER*/
footer {
    background-color: rgb(0, 0, 0);
}

#logosredes a img {
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 2rem !important;
}

#logosredes {
    display: flex;
    align-items: center;
    justify-content: start;
}


#formasdepago {
    padding-top: 0.2rem;
}

#c_formasdepago {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#c_formasdepago img {
    width: 3rem !important;
    height: 2rem !important;
}

#formasdepago h3 {
    font-family: 'Germania One', cursive;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    color: red;
}

#c_sub {
    padding-top: 0.5rem !important;
}

#c_sub h6 {
    font-family: 'Germania One', cursive;
    font-size: 1rem;
    color: red;
}

#c_sub form {
    display: flex;
    justify-content: center;
}

.campo {
    width: 15rem;
    height: 2rem;
}

h6 {
    text-align: center;
    color: white;
}


#derechos {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#derechos p {
    color: white;
    text-align: end;
    font-size: xx-small;
}