.conte_whatsapp{  
    position: fixed;
    bottom: 10rem;
    right: 1rem;
    border-style: dashed;
    border-radius: 4rem;
    border-color: red;   
    margin: 10;
    padding: 10;

    &:hover{background-color: yellow;
    opacity: 1;}

    img{border-radius: 6rem;   
        display: block;
        width: 2rem;
        height: 2rem;
        padding: 0.4rem;
        opacity: 0.5;
        background-color: rgb(47, 190, 47)}
}
