header {
    background-image: url(/imagenes/Encabezado2.jpg);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#titulo {
    font-family: 'Germania One', cursive;
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.5rem;
    -webkit-text-stroke: 0.07rem black;

    span{    display: block;
        line-height: 1rem;
        font-size: 1.5rem;
        padding: 0.5;}
}


.contenedor_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    height: 3.5rem;
    border-radius: 8rem;
}

.contenedor_titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-link{
    font-family: 'Germania One', cursive;
    color: red;
    font-size: 1rem;
    text-align: right;
    -webkit-text-stroke: 0.06rem $cazul;
}

.nav-link:hover {
    color: yellow !important;
    opacity: 0.8 !important;
}

.navbar-toggler {
    background-color: $cred;
}

.navbar-toggler-icon {
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.navbar-toggler:focus {
    box-shadow: none
}

.nav-item{padding: 0.1rem;}



