.producto,.producto2,.producto3{
    border-radius: 10rem;
    background-color: $cmostaza;
    padding-top: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.producto {
    img {
        width: 4rem;
        height: 6rem;
    }
    h5 {
        font-family: 'Germania One', cursive;
        font-size: 1.5rem;
    }
}

.producto2 {
    img {
        width: 4rem;
        height: 12rem;
    }
    h5 {
        font-family: 'Germania One', cursive;
        font-size: 1.5rem;
    }
}

.producto3 {
    img {
        width: 10rem;
        height: 10rem;
    }
}
.opcionesmenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
    justify-content: center;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $cmostaza;
        border: 2px solid #681919;
        margin: 0.2rem;
        padding: 0.2rem;
        border-radius: 2rem;
    }

    a {
        text-decoration: none;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
.titulosmenu{font-family: 'Times New Roman', Times, serif;
    display: flex;
align-items: center;
justify-content: center;}