    /*CONTACTO CELULAR GRANDE*/
    @media screen and (min-width: 475px) 
    {
        ul.redescontacto {
            li {
                a {
                    img {
                        width: 2rem;
                        height: 2rem;
                    }

                    p {
                        font-size: 1.5rem;
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                    }
                }
            }
        }
    }

        @media screen and (min-width: 768px) {
            input {
                width: 6rem;
            }
            ul.redescontacto {
                display: flex;
                justify-content: space-evenly;
                padding-top: 2rem;
                li {
                    text-align: center;
                    a {
                        img {
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }
            }
            .producto {
                margin-left: 0.5rem;
                margin-right: 0.5rem;

                img {
                    width: 4rem;
                    height: 6rem;
                }
            }

            .producto2 {
                margin-left: 0.5rem;
                margin-right: 0.5rem;

                img {
                    width: 6rem;
                    height: 14rem;
                }
            }

            .producto3 {
                margin-left: 0.5rem;
                margin-right: 0.5rem;

                img {
                    width: 10rem;
                    height: 10rem;
                }
            }

            input {
                width: 6rem;
            }
    #contactomain {
        padding-top: 2rem;
        padding-bottom: 8rem;
    }

    #tituloformulario {
        padding-bottom: 1.5rem;
    }
    ul.redescontacto {
        display: flex;
        justify-content: space-evenly;
        padding-top: 2rem;

        li {
            text-align: center;

            a {
                img {
                    width: 2rem;
                    height: 2rem;
                }

                p {
                    font-size: 1.4rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                }
            }
        }
    }
}

        /*DESK CHICA*/
        @media screen and (min-width: 991px) {
            .parrafos {
                font-size: 2rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            
                p {
                    margin: 0.2rem;
                }
            }
        }

        /*CONTACTO DESK*/
        @media (min-width: 1200px) {

            #contactomain {
                padding-top: 3.1rem;
                padding-bottom: 6rem!important;
            }

            ul.redescontacto {
                li {
                    a {
                        img {
                            width: 4rem;
                            height: 4rem;
                            border-radius: 1rem;
                        }

                        p {
                            font-size: 2.2rem;
                        }
                    }
                }
            }
        }

        /*DESK GRANDE*/
        @media screen and (min-width: 1450px) {
            }